<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT SmartBlogArticle ANY>
<!ATTLIST SmartBlogArticle id ID #REQUIRED>
<!ELEMENT SmartBlogComment ANY>
<!ATTLIST SmartBlogComment id ID #REQUIRED>
<!ELEMENT SmartBlogDate ANY>
<!ATTLIST SmartBlogDate id ID #REQUIRED>
<!ELEMENT SmartBlogFolder ANY>
<!ATTLIST SmartBlogFolder id ID #REQUIRED>
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT SmartBlogMonth ANY>
<!ATTLIST SmartBlogMonth id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT SmartBlogPage ANY>
<!ATTLIST SmartBlogPage id ID #REQUIRED>
<!ELEMENT SmartBlogPost ANY>
<!ATTLIST SmartBlogPost id ID #REQUIRED>
<!ELEMENT SmartBlogRSS ANY>
<!ATTLIST SmartBlogRSS id ID #REQUIRED>
<!ELEMENT SmartBlogBlog ANY>
<!ATTLIST SmartBlogBlog id ID #REQUIRED>
<!ELEMENT SmartBlogMaster ANY>
<!ATTLIST SmartBlogMaster id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>
<!ELEMENT SmartBlogYear ANY>
<!ATTLIST SmartBlogYear id ID #REQUIRED>

]>
<root id="-1">
  <SmartBlogBlog id="1209" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2014-11-21T21:18:20" updateDate="2014-11-29T00:30:13" nodeName="SmartBlog" urlName="smartblog" path="-1,1209" isDoc="" nodeType="1206" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="1194" nodeTypeAlias="SmartBlogBlog">
    <SmartBlogFolder id="1210" parentID="1209" level="2" creatorID="0" sortOrder="0" createDate="2014-11-21T21:18:20" updateDate="2014-11-22T22:22:35" nodeName="Posts" urlName="posts" path="-1,1209,1210" isDoc="" nodeType="1202" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="1194" nodeTypeAlias="SmartBlogFolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <disableSubNavigation>0</disableSubNavigation>
      <SmartBlogYear id="1211" parentID="1210" level="3" creatorID="0" sortOrder="0" createDate="2014-11-21T21:18:20" updateDate="2014-11-22T22:22:35" nodeName="2013" urlName="2013" path="-1,1209,1210,1211" isDoc="" nodeType="1207" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="1194" nodeTypeAlias="SmartBlogYear">
        <umbracoNaviHide>0</umbracoNaviHide>
        <disableSubNavigation>0</disableSubNavigation>
        <SmartBlogMonth id="1212" parentID="1211" level="4" creatorID="0" sortOrder="0" createDate="2014-11-21T21:18:20" updateDate="2014-11-22T22:22:35" nodeName="December" urlName="december" path="-1,1209,1210,1211,1212" isDoc="" nodeType="1203" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="1194" nodeTypeAlias="SmartBlogMonth">
          <umbracoNaviHide>0</umbracoNaviHide>
          <disableSubNavigation>0</disableSubNavigation>
          <SmartBlogPost id="1213" parentID="1212" level="5" creatorID="0" sortOrder="0" createDate="2014-11-21T21:18:20" updateDate="2014-11-22T22:22:35" nodeName="Test" urlName="test" path="-1,1209,1210,1211,1212,1213" isDoc="" nodeType="1204" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="1195" nodeTypeAlias="SmartBlogPost">
            <umbracoNaviHide>0</umbracoNaviHide>
            <disableSubNavigation>0</disableSubNavigation>
            <smartBlogDate>2014-03-10T17:06:58</smartBlogDate>
            <smartBlogCategory><![CDATA[Project]]></smartBlogCategory>
            <smartBlogTags><![CDATA[tag]]></smartBlogTags>
            <smartBlogDisableComments>0</smartBlogDisableComments>
            <SmartBlogComment id="1214" parentID="1213" level="6" creatorID="0" sortOrder="0" createDate="2014-11-21T21:18:20" updateDate="2014-11-22T22:22:35" nodeName="Test" urlName="test" path="-1,1209,1210,1211,1212,1213,1214" isDoc="" nodeType="1200" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="0" nodeTypeAlias="SmartBlogComment">
              <umbracoNaviHide>0</umbracoNaviHide>
              <disableSubNavigation>0</disableSubNavigation>
              <smartBlogName><![CDATA[Test]]></smartBlogName>
              <smartBlogEmail><![CDATA[luke@101ltd.com]]></smartBlogEmail>
              <smartBlogWebsite><![CDATA[lukealderton.co.uk]]></smartBlogWebsite>
              <smartBlogComment><![CDATA[nice]]></smartBlogComment>
            </SmartBlogComment>
          </SmartBlogPost>
          <SmartBlogPost id="1215" parentID="1212" level="5" creatorID="0" sortOrder="1" createDate="2014-11-21T21:18:20" updateDate="2014-11-22T22:22:35" nodeName="Test Post" urlName="test-post" path="-1,1209,1210,1211,1212,1215" isDoc="" nodeType="1204" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="1195" nodeTypeAlias="SmartBlogPost">
            <umbracoNaviHide>0</umbracoNaviHide>
            <disableSubNavigation>0</disableSubNavigation>
            <smartBlogDate>2014-03-10T17:07:17</smartBlogDate>
            <smartBlogCategory><![CDATA[Project]]></smartBlogCategory>
            <smartBlogTags><![CDATA[test tag]]></smartBlogTags>
            <smartBlogDisableComments>0</smartBlogDisableComments>
          </SmartBlogPost>
        </SmartBlogMonth>
      </SmartBlogYear>
      <SmartBlogYear id="1216" parentID="1210" level="3" creatorID="0" sortOrder="1" createDate="2014-11-21T21:18:20" updateDate="2014-11-22T22:22:35" nodeName="2014" urlName="2014" path="-1,1209,1210,1216" isDoc="" nodeType="1207" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="1194" nodeTypeAlias="SmartBlogYear">
        <umbracoNaviHide>0</umbracoNaviHide>
        <disableSubNavigation>0</disableSubNavigation>
        <SmartBlogMonth id="1217" parentID="1216" level="4" creatorID="0" sortOrder="0" createDate="2014-11-21T21:18:20" updateDate="2014-11-22T22:22:35" nodeName="March" urlName="march" path="-1,1209,1210,1216,1217" isDoc="" nodeType="1203" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="1194" nodeTypeAlias="SmartBlogMonth">
          <umbracoNaviHide>0</umbracoNaviHide>
          <disableSubNavigation>0</disableSubNavigation>
          <SmartBlogPost id="1218" parentID="1217" level="5" creatorID="0" sortOrder="0" createDate="2014-11-21T21:18:20" updateDate="2014-11-22T22:22:35" nodeName="SmartBlog 2 was born" urlName="smartblog-2-was-born" path="-1,1209,1210,1216,1217,1218" isDoc="" nodeType="1204" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="1195" nodeTypeAlias="SmartBlogPost">
            <umbracoNaviHide>0</umbracoNaviHide>
            <disableSubNavigation>0</disableSubNavigation>
            <smartBlogAuthor><![CDATA[Luke Alderton]]></smartBlogAuthor>
            <smartBlogDate>2014-03-10T16:41:07</smartBlogDate>
            <smartBlogCategory><![CDATA[News,Project]]></smartBlogCategory>
            <smartBlogTags><![CDATA[test tag]]></smartBlogTags>
            <smartBlogDisableComments>0</smartBlogDisableComments>
            <SmartBlogComment id="1219" parentID="1218" level="6" creatorID="0" sortOrder="0" createDate="2014-11-21T21:18:20" updateDate="2014-11-22T22:22:35" nodeName="Luke" urlName="luke" path="-1,1209,1210,1216,1217,1218,1219" isDoc="" nodeType="1200" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="0" nodeTypeAlias="SmartBlogComment">
              <umbracoNaviHide>0</umbracoNaviHide>
              <disableSubNavigation>0</disableSubNavigation>
              <smartBlogName><![CDATA[Luke]]></smartBlogName>
              <smartBlogEmail><![CDATA[email@address.com]]></smartBlogEmail>
              <smartBlogWebsite><![CDATA[http://www.lukealderton.co.uk/]]></smartBlogWebsite>
              <smartBlogComment><![CDATA[Comment text.]]></smartBlogComment>
            </SmartBlogComment>
            <SmartBlogComment id="1220" parentID="1218" level="6" creatorID="0" sortOrder="1" createDate="2014-11-21T21:18:20" updateDate="2014-11-22T22:22:35" nodeName="Luke Alderton" urlName="luke-alderton" path="-1,1209,1210,1216,1217,1218,1220" isDoc="" nodeType="1200" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="0" nodeTypeAlias="SmartBlogComment">
              <umbracoNaviHide>0</umbracoNaviHide>
              <disableSubNavigation>0</disableSubNavigation>
              <smartBlogName><![CDATA[Luke Alderton]]></smartBlogName>
              <smartBlogEmail><![CDATA[luke@101ltd.com]]></smartBlogEmail>
              <smartBlogWebsite><![CDATA[http://www.lukealderton.co.uk/]]></smartBlogWebsite>
              <smartBlogComment><![CDATA[Comment text.]]></smartBlogComment>
            </SmartBlogComment>
          </SmartBlogPost>
        </SmartBlogMonth>
        <SmartBlogMonth id="1221" parentID="1216" level="4" creatorID="0" sortOrder="1" createDate="2014-11-21T21:18:20" updateDate="2014-11-22T22:22:35" nodeName="July" urlName="july" path="-1,1209,1210,1216,1221" isDoc="" nodeType="1203" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="1194" nodeTypeAlias="SmartBlogMonth">
          <umbracoNaviHide>0</umbracoNaviHide>
          <disableSubNavigation>0</disableSubNavigation>
          <SmartBlogPost id="1222" parentID="1221" level="5" creatorID="0" sortOrder="0" createDate="2014-11-21T21:18:20" updateDate="2014-11-22T22:22:35" nodeName="Test" urlName="test" path="-1,1209,1210,1216,1221,1222" isDoc="" nodeType="1204" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="1195" nodeTypeAlias="SmartBlogPost">
            <umbracoNaviHide>0</umbracoNaviHide>
            <disableSubNavigation>0</disableSubNavigation>
            <smartBlogAuthor><![CDATA[Luke]]></smartBlogAuthor>
            <smartBlogDate>2014-07-22T10:24:33</smartBlogDate>
            <smartBlogCategory><![CDATA[Person]]></smartBlogCategory>
            <smartBlogTags><![CDATA[other]]></smartBlogTags>
            <smartBlogDisableComments>0</smartBlogDisableComments>
          </SmartBlogPost>
        </SmartBlogMonth>
        <SmartBlogMonth id="1255" parentID="1216" level="4" creatorID="0" sortOrder="2" createDate="2014-11-23T20:16:34" updateDate="2014-11-23T20:16:38" nodeName="November" urlName="november" path="-1,1209,1210,1216,1255" isDoc="" nodeType="1203" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="1194" nodeTypeAlias="SmartBlogMonth">
          <umbracoNaviHide>0</umbracoNaviHide>
          <disableSubNavigation>0</disableSubNavigation>
          <SmartBlogPost id="1256" parentID="1255" level="5" creatorID="0" sortOrder="0" createDate="2014-11-23T20:18:15" updateDate="2014-11-23T20:18:15" nodeName="First!" urlName="first" path="-1,1209,1210,1216,1255,1256" isDoc="" nodeType="1204" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="1195" nodeTypeAlias="SmartBlogPost">
            <umbracoNaviHide>0</umbracoNaviHide>
            <disableSubNavigation>0</disableSubNavigation>
            <smartBlogTitle><![CDATA[First Post!]]></smartBlogTitle>
            <smartBlogSummary><![CDATA[This is the first post for Kiarah's blog.]]></smartBlogSummary>
            <smartBlogBody><![CDATA[<p>I am the proud father of a new blog... er um proud father of a new baby that now has a blog.</p>]]></smartBlogBody>
            <smartBlogAuthor><![CDATA[Theo Xavier]]></smartBlogAuthor>
            <smartBlogDate>2014-11-23T20:16:45</smartBlogDate>
            <smartBlogCategory><![CDATA[News]]></smartBlogCategory>
            <smartBlogDisableComments>0</smartBlogDisableComments>
            <SmartBlogComment id="1257" parentID="1256" level="6" creatorID="0" sortOrder="0" createDate="2014-11-23T20:41:33" updateDate="2014-11-24T00:44:58" nodeName="Theo" urlName="theo" path="-1,1209,1210,1216,1255,1256,1257" isDoc="" nodeType="1200" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="0" nodeTypeAlias="SmartBlogComment">
              <umbracoNaviHide>0</umbracoNaviHide>
              <disableSubNavigation>0</disableSubNavigation>
              <smartBlogName><![CDATA[Theo]]></smartBlogName>
              <smartBlogEmail><![CDATA[txavier@gmail.com]]></smartBlogEmail>
              <smartBlogWebsite><![CDATA[XavierSoftware.com]]></smartBlogWebsite>
              <smartBlogComment><![CDATA[Yay! I got the first comment!]]></smartBlogComment>
            </SmartBlogComment>
            <SmartBlogComment id="1258" parentID="1256" level="6" creatorID="0" sortOrder="1" createDate="2014-11-23T22:53:55" updateDate="2014-11-24T00:44:58" nodeName="Theo Xavier" urlName="theo-xavier" path="-1,1209,1210,1216,1255,1256,1258" isDoc="" nodeType="1200" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="0" nodeTypeAlias="SmartBlogComment">
              <umbracoNaviHide>0</umbracoNaviHide>
              <disableSubNavigation>0</disableSubNavigation>
              <smartBlogName><![CDATA[Theo Xavier]]></smartBlogName>
              <smartBlogEmail><![CDATA[txavier@gmail.com]]></smartBlogEmail>
              <smartBlogWebsite><![CDATA[XavierSoftware.com]]></smartBlogWebsite>
              <smartBlogComment><![CDATA[Second post!]]></smartBlogComment>
            </SmartBlogComment>
            <SmartBlogComment id="1259" parentID="1256" level="6" creatorID="0" sortOrder="2" createDate="2014-11-23T23:11:20" updateDate="2014-11-24T00:44:58" nodeName="Theo Xavier (1)" urlName="theo-xavier-1" path="-1,1209,1210,1216,1255,1256,1259" isDoc="" nodeType="1200" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="0" nodeTypeAlias="SmartBlogComment">
              <umbracoNaviHide>0</umbracoNaviHide>
              <disableSubNavigation>0</disableSubNavigation>
              <smartBlogName><![CDATA[Theo Xavier]]></smartBlogName>
              <smartBlogEmail><![CDATA[txavier@gmail.com]]></smartBlogEmail>
              <smartBlogWebsite><![CDATA[XavierSoftware.com]]></smartBlogWebsite>
              <smartBlogComment><![CDATA[Second post!]]></smartBlogComment>
            </SmartBlogComment>
            <SmartBlogComment id="1260" parentID="1256" level="6" creatorID="0" sortOrder="3" createDate="2014-11-24T00:47:18" updateDate="2014-11-24T00:47:18" nodeName="Theo (1)" urlName="theo-1" path="-1,1209,1210,1216,1255,1256,1260" isDoc="" nodeType="1200" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="0" nodeTypeAlias="SmartBlogComment">
              <smartBlogName><![CDATA[Theo]]></smartBlogName>
              <smartBlogEmail><![CDATA[txavier@gmail.com]]></smartBlogEmail>
              <smartBlogWebsite><![CDATA[xaviersoftware.com]]></smartBlogWebsite>
              <smartBlogComment><![CDATA[Another test comment.]]></smartBlogComment>
            </SmartBlogComment>
          </SmartBlogPost>
        </SmartBlogMonth>
      </SmartBlogYear>
    </SmartBlogFolder>
    <SmartBlogRSS id="1223" parentID="1209" level="2" creatorID="0" sortOrder="1" createDate="2014-11-21T21:18:20" updateDate="2014-11-22T22:18:30" nodeName="RSS" urlName="rss" path="-1,1209,1223" isDoc="" nodeType="1205" creatorName="Theo Xavier" writerName="Theo Xavier" writerID="0" template="1196" nodeTypeAlias="SmartBlogRSS">
      <umbracoNaviHide>0</umbracoNaviHide>
      <disableSubNavigation>0</disableSubNavigation>
      <smartBlogRssTitle><![CDATA[SmartBlog]]></smartBlogRssTitle>
      <smartBlogRssDescription><![CDATA[Description of blog.]]></smartBlogRssDescription>
      <smartBlogRssCopyright><![CDATA[SmartBlog]]></smartBlogRssCopyright>
    </SmartBlogRSS>
    <umbracoNaviHide>0</umbracoNaviHide>
    <disableSubNavigation>0</disableSubNavigation>
    <BodyTextColOne><![CDATA[<?UMBRACO_MACRO macroAlias="Kiarah Stats" weight="12 lbs 1 oz" height="23 cm" />]]></BodyTextColOne>
    <disableGlobalComments>0</disableGlobalComments>
  </SmartBlogBlog>
</root>