<?xml version="1.0" encoding="utf-8"?>
<!-- It is preffered that you use the SmartBlog Management area to change these settings. -->
<settings>
  <!-- True if you want to send a notification email on comment approve. -->
  <sendApproveEmail>True</sendApproveEmail>
  <!-- Notifies the blog admin that there is a new comment on the website. -->
  <moderatorCommentEmail>ki.euson@gmail.com</moderatorCommentEmail>
  <!-- Robot email is used when sending an approve email -->
  <robotEmail>noreply@xaviersoftware.com</robotEmail>
  <!-- Will auto approve comments on all blogs on this website. -->
  <autoApproveComments>True</autoApproveComments>
  <!-- Used when author is left blank. -->
  <defaultAuthor>Kimberly Xavier</defaultAuthor>
  <!-- Will disable comments for all blogs in this site. -->
  <masterDisableComments>False</masterDisableComments>
  <!-- Comment system is AJAX, and checks for updates client side periodically. -->
  <commentRefreshInterval>20000</commentRefreshInterval>
  <!-- Will use post summary on post list instead of body. (Usefull if posts are long.) -->
  <useSummaryOnList>False</useSummaryOnList>
  <!-- Will disable the Facebook integration on the comment form -->
  <disableFacebookIntegration>True</disableFacebookIntegration>
</settings>